<div class="visitor-player-container">
	<div class="wrapper">
		<div class="box a"><p><%= @player.name %></p></div>
		<div class="box b">
  			<p>Bio: <%= @player.bio %> </p>
  			<p>Total de Partidas: <%= @player.player_1_matches.or(@player.player_2_matches).count %> </p>
  			<p>Partidas Ganadas: <%= @matches_won.count %> </p>
  			<p>Rank: <%= @player.rank %></p>
  			<p>Likes: <%= @player.likes.to_i %></p>
  			<% if @player.profile_image.present? %>
          		<span class="header-image" style="background-image: url(<%= url_for(@player.profile_image) %>);"></span>
  			<% else %>
          		<span class="header-image" style="background-image: url(<%= asset_path('aoe_logo_1.png') %>);"></span>
  			<% end %>
		</div>
	  	<div class="box c">	
	  		<%= link_to visitor_category_path(@player.category) do %>
	  			<% if @player.category.category_image.present? %>
	          		<span class="category-image" style="background-image: url(<%= url_for(@player.category.category_image) %>);"></span>
	  			<% else %>
	          		<span class="category-image" style="background-image: url(<%= asset_path('aoe_logo_1.png') %>);"></span>
	  			<% end %>
	  		<% end %>
	  	</div>
	  	<div class="box e">
	  		<h3>Matches</h3>
	  		<hr>
	  		<% @player.player_1_matches.or(@player.player_2_matches).order(:round).each do |match| %>
	  			<%= link_to visitor_match_path(match)  do %>
		  			<div class="match-container">
						<table class="table">
					        <thead>
				          		<tr class="active-dark">
						            <th></th>
						            <th class="table-menu-player">Jugador</th>
						            <th class="table-winner">Ganador</th>
						            <th class="table-civ">Civilización</th>
						            <th class="table-likes">Likes</th>
						            <th class="table-votes">Votos</th>
						            <th class="table-team">Equipo</th>
					          	</tr>
					        </thead>
					        <tbody>
					          	<tr>
						            <td rowspan="3" class="round-vertical"> 
										<h3><%= link_to "Round #{match.round}", visitor_match_path(match) %></h3>
									</td>
						            <td class="table-player"> 
						            	<% if match.player_1.profile_image.present? %>
											<div class="player-image" style="background-image: url(<%= url_for(match.player_1.profile_image) %>);"></div> 
										<% else %>
											<div class="player-image" style="background-image: url(<%= asset_path('aoe_logo_1.png') %>);"></div> 
						            	<% end %>
						            	<div class="player-name">
						            		<h4 class="name_flag_1">
						            			<%= link_to visitor_player_path(match.player_1) do %>
						            				<%= match.player_1.name %>&nbsp&nbsp&nbsp&nbsp
						            			<% end %>
						            		</h4>
						            	</div>
						            </td>
						            <td>
						            	<% if match.player_1.eql? match.winner %>
						            		<i class="fas fa-crown" style="color: #c9a42c; font-size: 180%;"></i>
						            	<% else %>
						            		-
						            	<% end %>
						            </td>
						            <td> <%= match.player_1_civilization.present? ? match.player_1_civilization : "-" %> </td>
						            <td> <%= match.player_1.likes.to_i %>
						            <td> <%= match.vote_player_1.to_i %>
						            <td>1</td>	
				          		</tr>
					          	<tr class="active-dark">
						            <td class="table-player"> 
						            	<% if match.player_2.profile_image.present? %>
												<div class="player-image" style="background-image: url(<%= url_for(match.player_2.profile_image) %>);"></div> 
										<% else %>
										<div class="player-image" style="background-image: url(<%= asset_path('aoe_logo_1.png') %>);"></div> 
						            	<% end %><div class="player-name">
						            		<h4 class="name_flag_2">
						            			<%= link_to visitor_player_path(match.player_2) do %>
						            				<%= match.player_2.name %>&nbsp&nbsp&nbsp&nbsp
						            			<% end %>
						            		</h4>
						            	</div>
						            </td>
						            <td>
						            	<% if match.player_2.eql? match.winner %>
						            		<i class="fas fa-crown" style="color: #d4af37; font-size: 180%;"></i>
						            	<% else %>
						            		-
						            	<% end %>
						            </td>
						            <td> <%= match.player_2_civilization.present? ? match.player_2_civilization : "-" %> </td>
						            <td> <%= match.player_2.likes.to_i %>
						            <td> <%= match.vote_player_2.to_i %>
						            <td>2</td>
					          	</tr>
					          	<tr class=bottom-table>
						            <td colspan="100%"></td>
					          	</tr>
					          	<tr class="active-dark">
						            <td colspan="100%">Larry the Bird</td>
				          		</tr>
					        </tbody>
				      	</table>
					</div>
				<% end %>
	  		<% end %>
	  	</div>
	  	<div class="box d">
        	<%= link_to "Volver", visitor_category_path(@player.category)%>
	  	</div>
	</div>
</div>
<script>
	var i, color1, color2;
	var falgs1 = document.getElementsByClassName("name_flag_1");
	var falgs2 = document.getElementsByClassName("name_flag_2");
	for (i = 0; i < falgs1.length; i++) {
		color1 = getRandomColor();
		color2 = getRandomColor();
		while (color1 == color2) {
			color2 = getRandomColor();
		}
		falgs1[i].style.backgroundColor = color1;
		falgs2[i].style.backgroundColor = color2;
	}
	function getRandomColor() {
		let colors = ["#bf4d4f", "#6a65d0", "#c85ce2", "#70b953", "#eded6f", "#73bcbf", "#919193", "#db9c5b"];
		return colors[Math.floor(Math.random() * colors.length)];
	}
</script>






