<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h2><%= Admin %></h2>
        <p>NiluTorneo</p>
    </div>
    <div class="list-unstyled list-group">
        <a href="#homeSubmenu" class="btn btn-light list-group-item m-1" data-toggle="collapse"><i class="fas fa-bars"></i> Categories</a>
        <div class="collapse list-unstyled list-group" id="homeSubmenu">
            <a href="<%= categories_path %>" class="btn btn-light list-group-item m-2">Show All</a>
            <% @categories.order(:min_rank).each do |category|%> 
                <a href="<%= category_path(category) %>" class="btn btn-light list-group-item m-2"><%= category.title %></a>
            <% end %>
        </div>
        <a href="<%= players_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-users"></i> Players</a>
        <a href="<%= matches_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-shield-alt"></i> Matches</a>
        <a href="<%= backgrounds_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-images"></i> Backgrounds</a>
        <a href="<%= suggestions_path %>" class="btn btn-light list-group-item m-1"><i class="far fa-bell"></i> Suggestions <span class="badge bg-success p-2"><%= Suggestion.where(status: 0).count %></span></a>
    </div>
    <div class="settings text-center">
        <h4 class="text-break" style="color:black;"><%=@current_admin.email%></h4>
        <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "btn btn-danger"%>
        <a href=" <%= root_path %>" class="btn btn-info"><i class="fas fa-home"></i></a>
    </div>
</nav>
<nav id="mobile-sidebar">
    <h4 class="text-break text-center" style="color:black;"><%=@current_admin.email%></h4>
    <div class="d-flex justify-content-between m-3">
        <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "btn btn-danger"%>
        <a href=" <%= root_path %>" class="btn btn-info"><i class="fas fa-home"></i></a>
    </div>
    <a href="#homeSubmenu2" class="btn btn-light list-group-item m-1" data-toggle="collapse"><i class="fas fa-bars"></i> Categories</a>
    <div class="collapse list-unstyled list-group" id="homeSubmenu2">
        <a href="<%= categories_path %>" class="btn btn-light list-group-item m-2">Show All</a>
        <% @categories.order(:min_rank).each do |category|%> 
            <a href="<%= category_path(category) %>" class="btn btn-light list-group-item m-2"><%= category.title %></a>
        <% end %>
    </div>
    <a href="<%= players_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-users"></i> Players</a>
    <a href="<%= matches_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-shield-alt"></i> Matches</a>
    <a href="<%= backgrounds_path %>" class="btn btn-light list-group-item m-1"><i class="fas fa-images"></i> Backgrounds</a>
    <a href="<%= suggestions_path %>" class="btn btn-light list-group-item m-1"><i class="far fa-bell"></i> Suggestions <span class="badge bg-success p-2"><%= Suggestion.where(status: 0).count %></span></a>
</nav>