<div class="pt-2">
	<% @posts.each do |post| %>
		<% if post.persisted? %>
			<div class="card mb-2 p-1">
			  	<div class="card-body text-center">
			    	<h1 class="card-title"><%= post.title %></h1>
					<% if post.post_image.present? %>
						<%= image_tag post.post_image, class: "rounded mx-auto d-block"%>
					<% end %>
			    	<h5 class="card-text text-secondary mt-4"><%= post.description %></h5>
			  	</div>
			  	<% if post.link1.present? || post.link2.present? %>
					<span class="links">
					  	<% if post.link1.present? %>
					    	<a class="btn btn-primary" href="<%= post.link1 %>">
					    		<% if post.link1_name.present? %>
									<%= post.link1_name %>					    			
					    		<% else %>
					    			Link1
					    		<% end %>
					    	</a>
					    <% end %>
					  	<% if post.link2.present? %>
					    	<a class="btn btn-primary" href="<%= post.link2 %>">
					    		<% if post.link2_name.present? %>
									<%= post.link2_name %>	
					    		<% else %>
					    			Link2
					    		<% end %>
					    	</a>
					    <% end %>
					</span>
			  	<% end %>
			</div>
		<% end %>
	<% end %>
</div>