<div class="jumbotron p-3 mb-0">
  <h1 class="display-4 text-center">NILUTORNEO</h1>
  <p class="text-center lead">1er NILUTORNEO, inscripción abierta a partir del 18 de Mayo (1 vs 1)</p>
  <p class="text-center">
    <a class="btn btn-info col-md-2 btn-lg" href="https://docs.google.com/document/d/1qmk3QK-E5KjPnmKYDkGHqGd-oOpbTo0TPQQ2eHtUmok/edit?usp=sharing" target="_blank" role="button">Saber más</a>
  </p>
</div>
<% if Background.get_random_background.present? %>
	<div class="big-container" id="background_image_container" style="background-image: url(<%= url_for(Background.get_random_background.background_image) %>)">
	<%= form_tag(visitor_get_random_background_path, method: "get", remote: true) do %>
		<span id="change_background_button">
			<a class="btn btn-success m-2" onclick="changeBackgroundImage()"><i class="fas fa-images"></i></a>
			<%= submit_tag "Search", class: "d-none", id: "backgroud_submit" %>
		</span>
	<% end %>
<% else %>
	<div class="big-container bg-info" id="background_image_container">
<% end %>
	<div class="container categories-container">
		<div class="row m-0">
	  	<% @categories.each do |category| %>
	  		<div class="col-md-6 col-lg-4 mt-5 category-column">
				<div class="card category-card">
				  <img class="card-img-top category-image" src="<%= category.category_image.present? ? url_for(category.category_image) : asset_path('aoe_logo_1.png') %>" alt="Category-image Imagen-Categoria">
				  <div class="card-body d-flex flex-column">
				    <h3 class="card-title"> <%= category.title %> </h3>
				    <p class="card-text"> <%= truncate(category.description, length: 80)%> </p>
				    <%= link_to "Visitar", visitor_category_path(category), class: "btn btn-primary mt-auto" %>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div id="footer">
		<div class="footer-up">
			<a class="btn twitch-button" href="https://www.twitch.tv/nilusa" target="_blank" role="button"><i class="fab fa-twitch"></i></a>
			<a class="btn discord-button" href="https://discord.gg/kAGB9G9seF" target="_blank" role="button"><i class="fab fa-discord"></i></a>
			<a class="btn btn-info" href="https://docs.google.com/document/d/1qmk3QK-E5KjPnmKYDkGHqGd-oOpbTo0TPQQ2eHtUmok/edit?usp=sharing" target="_blank" role="button">Reglas <i class="fas fa-book"></i></a>
		</div>
		<div class="footer-down">
			<a class="btn btn-dark" href="https://github.com/pulgamecanica" target="_blank" role="button">By pulgamecanica <i class="fab fa-github"></i></a>
		</div>
	</div>
</div>
<script>
function changeBackgroundImage(){
	$(backgroud_submit).trigger("click");
}
</script>