<div class="jumbotron p-3 mb-0">
  <h1 class="display-4 text-center main-title">NILUTORNEO</h1>
  <p class="text-center lead">Reglas del Torneo</p>
  <p class="text-center">
  	<%= link_to "Menú", root_path, class: "more-info"%>
  </p>
</div>
<% if Background.get_random_background.present? %>
	<div class="big-container" id="background_image_container" style="background-image: url(<%= url_for(Background.get_random_background.background_image) %>)">
	<%= form_tag(visitor_get_random_background_path, method: "get", remote: true) do %>
		<span id="change_background_button">
			<a class="btn btn-success m-2" onclick="changeBackgroundImage()"><i class="fas fa-images"></i></a>
			<%= submit_tag "Search", class: "d-none", id: "backgroud_submit" %>
		</span>
	<% end %>
<% else %>
	<div class="big-container bg-info" id="background_image_container">
<% end %>
	<div class="container pb-5">
		<%= render 'posts', posts: @posts %>
	</div>
	<div id="footer">
		<div class="footer-up">
			<a class="btn twitch-button" href="https://www.twitch.tv/nilusa" target="_blank" role="button"><i class="fab fa-twitch"></i></a>
			<a class="btn discord-button" href="https://discord.gg/kAGB9G9seF" target="_blank" role="button"><i class="fab fa-discord"></i></a>
			<a class="btn btn-info" href="https://docs.google.com/document/d/1qmk3QK-E5KjPnmKYDkGHqGd-oOpbTo0TPQQ2eHtUmok/edit?usp=sharing" target="_blank" role="button">Reglas <i class="fas fa-book"></i></a>
			<p class="disclaimer-button btn btn-primary"><i class="fas fa-info-circle"></i>
		  		<span class="disclaimer-info">All images belong to their respective owners.<br>Todas las imágenes le pertenecen al dueño respectivo.</span>
		  	</p>
		</div>
		<div class="footer-down">
			<a class="btn btn-dark" href="https://github.com/pulgamecanica" target="_blank" role="button">By pulgamecanica <i class="fab fa-github"></i></a>
			<% if current_admin.present? %>
				<%= link_to categories_path do %>
					<div class="mt-1">
						<button class= "btn btn-seconday d-block m-auto bg-secondary"><span> ADMINS </span><i class="fas fa-tools"></i></button>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("footer").style.bottom = "0.5em";
  } else {
    document.getElementById("footer").style.bottom = "-150px";
  }
  prevScrollpos = currentScrollPos;
}
function changeBackgroundImage(){
	$(backgroud_submit).trigger("click");
}
function openDisclaimer() {
	alert("Hello");
}
</script>