<%= form_with(model: category, local: false) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
    <%= form.error_for :title, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
    <%= form.error_for :description, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :min_rank %>
    <%= form.number_field :min_rank, class: "form-control" %>
    <%= form.error_for :min_rank, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :max_rank %>
    <%= form.number_field :max_rank, class: "form-control" %>
    <%= form.error_for :max_rank, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :register_link %>
    <%= form.text_area :register_link, class: "form-control" %>
  </div>

  <div class="field text-center">
    <%= form.label :active %>
    <%= form.check_box :active, {checked: true, class: "form-control"} %>
  </div>
  
  <% if category.category_image.present? %>
    <div id="category_image">
      <%= image_tag category.category_image, class: "rounded mx-auto d-block mt-2" %>
    </div>
    <%= form.file_field :category_image, class: "mt-2 mx-auto d-block" %>
  <% else %>
    <%= form.file_field :category_image, class: "mt-2 form-control" %> 
  <% end %>
  
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block mb-2 mt-2" %>
  </div>
<% end %>
