<% @matches.select(:round).distinct.map {|match| match.round }.sort.each do |round| %>
  <div class="card mb-2">
    <h5 class="card-header">Round <%= round %></h5>
    <div class="card-body m-0 p-0">
      <% @matches.where(round: round).each do |game_match| %>
        <%= link_to visitor_match_path(game_match), class: "text-decoration-none" do %>
          <div class="card match-players-card">
            <div class="card-body">
              <p class="text-dark match-date"> 
                <%= game_match.date.strftime("%m/%d/%Y")%> 
              </p> 
              <span class="card-title text-secondary h5">
                <%= game_match.player_1.name %> (<%= game_match.player_1.rank %>)
                vs
                <%= game_match.player_2.name %> (<%= game_match.player_2.rank %>)
              </span>
              <p class="text-secondary mb-0">
                <%= game_match.likes %>
              </p>
            </div>
          </div>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
<% end %>