<% @matches.select(:round).distinct.map {|match| match.round }.sort.each do |round| %>
  <div class="card mb-2">
    <h5 class="card-header">Round <%= round %></h5>
    <div class="card-body m-0 p-0">
      <% @matches.where(round: round).each do |game_match| %>
        <%= link_to visitor_match_path(game_match), class: "text-decoration-none" do %>
          <div class="card match-players-card">
            <div class="card-body">
              <p class="text-dark match-date"> 
                <%= game_match.date.strftime("%m/%d/%Y")%> 
              </p> 
              <span class="card-title text-secondary h4">
                <% if (game_match.player_1.present? && game_match.player_2.present?) && (game_match.player_1.eql?(game_match.winner) || game_match.player_2.eql?(game_match.winner)) %>
                  <% if game_match.player_1.eql?(game_match.winner) %>
                    <span class="text-success"><%= game_match.player_1.name %></span> <!-- (<= game_match.player_1.rank >) -->
                    <span>vs</span>
                    <span class="text-danger"><%= game_match.player_2.name %></span> <!-- (<= game_match.player_2.rank >) -->
                  <% else %>
                    <span class="text-danger"><%= game_match.player_1.name %></span> <!-- (<= game_match.player_1.rank >) -->
                    <span>vs</span>
                    <span class="text-success"><%= game_match.player_2.name %></span> <!-- (<= game_match.player_2.rank >) -->
                  <% end %> 
                <% else %>
                  <% if game_match.player_1.present? %>
                    <%= game_match.player_1.name %> <!-- (<= game_match.player_1.rank >) -->
                  <% end %>
                  <% if game_match.player_2.present? %>
                    <span class="text-info">vs</span>
                    <%= game_match.player_2.name %> <!-- (<= game_match.player_2.rank >) -->
                  <% end %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
<% end %>