<div class="jumbotron p-3 mb-0" id="main-wrapper">
	<%= link_to "Atras", root_path %>
	<a href="<%= @category.register_link %>" class="register-button" target="_blank" role="button">Registrarse</a>
	<% if @category.category_image.present? %>
		<div id="category_image">
			<%= image_tag @category.category_image, class: "rounded mx-auto d-block", style: "width:auto;height:175px" %>
		</div>
	<% end %>
  <p class="display-4 text-center m-0"> <%= @category.title %> <span style="font-size: 50%;">(<%= @category.min_rank %>-<%= @category.max_rank %>)</span> </p>
  <p class="text-center lead m-0"> <%= @category.description %> </p>
  <p class="text-center mb-2"> <%= @category.start_date.strftime("%d/%m") %> - <%= @category.end_date.strftime("%d/%m") %> </p>
  	<div class="text-center">
		<button onclick="newSuggestion()" class="btn btn-info col-md-3 col-sm-6">Sugerencias!</button>
		<br>
		<% if @category.brackets_link.present? %>
			<button onclick="show_brackets()" class="btn btn-secondary col-md-3 col-sm-6 mt-1">Brackets!</button>
		<% end %>
	</div>
</div>
<% if @background.present? %>
	<div class="big-container" id="background_image_container" style="background-image: url(<%= url_for(@background.background_image) %>)">
	<%= form_tag(visitor_get_random_background_path, method: "get", remote: true) do %>
		<span id="change_background_button">
			<a class="btn btn-success m-2" onclick="changeBackgroundImage()"><i class="fas fa-images"></i></a>
			<%= submit_tag "Search", class: "d-none", id: "backgroud_submit" %>
		</span>
	<% end %>
<% else %>
	<div class="big-container bg-info" id="background_image_container">
<% end %>
	<div class="row p-3 m-0">
		<div class="col-md-4 mb-3 box-container">
			<div class="card text-center render-container">
			  <h4 class="card-header card-main-header">
			    Jugadores <span class="badge badge-secondary" id="players-badge"> <%= @players.all.count %> </span><span class="badge badge-info float-right text-dark">Seeding</span>
			  </h4>
			  <div class="card-body">
					<%= form_tag(visitor_search_players_path, method: "get", remote: true) do %>
						<div class="input-group">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i></span>
						  	<%= text_field_tag :search, '', class: 'form-control', placeholder: 'Search Player...', onkeydown:'clickSubmitPlayers();' %>
						</div>
						<%= hidden_field_tag :category_id, @category.id %>
						<%= submit_tag "Search", class: "d-none", id: "search_submit" %>
					<% end %>
					<ul class="list-group list-group-flush mt-3" id="players-container">
    					<%= render 'players' %>
  					</ul>
			  </div>
			  <div class="card-footer text-muted">
			  	<%= @category.title %>
			  </div>
			</div>
		</div>
		<div class="col-md-8 mb-3 box-container">
			<div class="card text-center render-container">
			  <h4 class="card-header card-main-header">
			    Partidas: <span class="badge badge-secondary" id="matches-badge"> <%= @matches.all.count %> </span>
			  </h4>
			  <div class="card-body">
					<%= form_tag(visitor_search_matches_path, method: "get", remote: true) do %>
				          <div class="input-group">
			                <span class="input-group-text" id="basic-addon1"><i class="fas fa-filter"></i>Rounds</span>
			                <%= collection_check_boxes(:match, :rounds_filter, Match.where(category: @category).order(:round).select(:round).distinct, :round, :round, {}, {class: "custom-control custom-checkbox", onchange:'clickSubmitMatches();'}) do |round| %>
			                  <span class="d-none">
			                    <%= round.check_box %>
			                  </span>
			                  <%= round.label(class: "round-checkbox-label mr-2 ml-2", onclick: "activateCheckbox(this)") %>
			                <% end %>
							<%= hidden_field_tag :category_id, @category.id %>
				            <%= submit_tag "Search", class: "d-none", id: "search_submit_matches" %>
				          </div>
				    <% end %>

					<ul class="list-group list-group-flush mt-3" id="matches-container">
    					<%= render 'matches' %>
  					</ul>
			  </div>
			  <div class="card-footer text-muted">
			  	<%= @category.title %>
			  </div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="footer-up">
			<a class="btn twitch-button" href="https://www.twitch.tv/nilusa" target="_blank" role="button"><i class="fab fa-twitch"></i></a>
			<a class="btn discord-button" href="https://discord.gg/kAGB9G9seF" target="_blank" role="button"><i class="fab fa-discord"></i></a>
			<a class="btn btn-info" href="https://docs.google.com/document/d/1qmk3QK-E5KjPnmKYDkGHqGd-oOpbTo0TPQQ2eHtUmok/edit?usp=sharing" target="_blank" role="button">Reglas <i class="fas fa-book"></i></a>
			<p class="disclaimer-button btn btn-primary"><i class="fas fa-info-circle"></i>
		  		<span class="disclaimer-info">All images belong to their respective owners.<br>Todas las imágenes le pertenecen al dueño respectivo.</span>
		  	</p>
		</div>
		<div class="footer-down">
			<a class="btn btn-dark" href="https://github.com/pulgamecanica" target="_blank" role="button">By pulgamecanica <i class="fab fa-github"></i></a>
			<% if current_admin.present? %>
				<%= link_to categories_path do %>
					<div class="mt-1">
						<button class= "btn btn-seconday d-block m-auto bg-secondary"><span> ADMINS </span><i class="fas fa-tools"></i></button>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<% if @category.brackets_link.present? %>
	<div id="brackets">
		<iframe src="<%= @category.brackets_link %>" allowfullscreen frameborder="0"></iframe>
		<i class="fas fa-times-circle" onclick="closeImage()"></i>
	</div>
<% end %>
<span id="imageWindowDisplayer" class="text-center p-5">
	<%= form_with(url: visitor_category_suggestion_path, method: "get", remote: false) do |form| %>
		<h2>Sugerencia</h2>
		<h6><%= @category.title %></h6>
		<%= form.hidden_field(:id, value: @category.id) %>
		<div class="field">
		    <label>Título</label>
		    <%= form.text_field :title, placeholder: "Título", class: "form-control"%>
	  	</div>
	  	<div class="field">
			<label>Descripción</label>
		    <%= form.text_area :description, placeholder: "Descripción", class: "form-control" %>
	  	</div>
		<%= form.submit "Enviar Sugerencia", class: " mt-2 btn btn-success btn-block"%>
	<% end %>
	<i class="fas fa-times-circle" onclick="closeImage()"></i>
</span>
<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("footer").style.bottom = "0.5em";
  } else {
    document.getElementById("footer").style.bottom = "-150px";
  }
  prevScrollpos = currentScrollPos;
}
function clickSubmitPlayers() {
  $(search_submit).trigger("click");
}
function clickSubmitMatches() {
  $(search_submit_matches).trigger("click");
}
function activateCheckbox(label) {
  if ($(label).hasClass("active-round-checkbox-label")) {
    $(label).removeClass("active-round-checkbox-label");
  }else{
    $(label).addClass("active-round-checkbox-label");
  }
}
function changeBackgroundImage(){
	$(backgroud_submit).trigger("click");
}
function newSuggestion() {
	document.getElementById("main-wrapper").style.opacity = 0.3;
	document.getElementById("background_image_container").style.opacity = 0.3;
	document.getElementById('imageWindowDisplayer').style.display = "block";
}
function closeImage() {
	document.getElementById("main-wrapper").style.opacity = 1;
	document.getElementById("background_image_container").style.opacity = 1;
	document.getElementById('imageWindowDisplayer').style.display = "none";
	document.getElementById('brackets').style.display = "none";
}
function show_brackets() {
	document.getElementById("main-wrapper").style.opacity = 0.3;
	document.getElementById("background_image_container").style.opacity = 0.3;
	document.getElementById('brackets').style.display = "block";
}
$(document).keydown(function(e) {
	if (e.keyCode == 27) 
   		closeImage();
});
</script>