<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select(:category_id, options_for_select(@select_categories, player.category_id), {}, {class: "form-controll m-3"}) %> 
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, class: "form-control" %>
  </div>
  <%= form.file_field :profile_image %>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block mt-3" %>
  </div>
<% end %>
