<%= form_with(model: player, local: false) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.error_for :name, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: "form-control" %>
    <%= form.error_for :bio, class: "text-danger" %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.number_field :rank, class: "form-control" %>
    <%= form.error_for :rank, class: "text-danger" %>
  </div>
  
  <div class="field">
    <%= form.label :seeding %>
    <%= form.number_field :seeding, class: "form-control" %>
    <%= form.error_for :seeding, class: "text-danger" %>
  </div>

  <% if not player.persisted? %>
    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :title, {}, class: "form-control" %>
      <%= form.error_for :category_id, class: "text-danger" %>
    </div>
  <% else %>
    <h6 class="btn btn-secondary btn-block mt-2 disabled"> Category: <%= player.category.title %> </h6>
  <% end %>

  <div class="field mt-3 mb-3">
    <%= form.label :birthday%>
    <%= form.date_select :birthday%>
  </div>
  
  <% if player.profile_image.present? %>
    <div id="profile_image">
      <%= image_tag player.profile_image %>
    </div>
    <%= form.file_field :profile_image, class: "mt-2" %>
  <% else %>
    <%= form.file_field :profile_image %> 
  <% end %>


  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block mt-3" %>
  </div>
<% end %>