<div class="form-group">
	<%= form_with model: @new_match do |form| %> 
		<div class="field">
			<%= form.label :date %>
			<%= form.date_select :date, {}, class: "form-control"%>
		</div>
		<%= form.hidden_field :category_id %>
		<%= form.hidden_field :player_1_id %>
		<div class="input-group mt-3">
			<span class="text-dark rounded p-2">
				<%= form.label :round %>
			</span>
			<%= form.number_field :round, class: "form-control" %>
		</div>
		<div class="input-group mt-3">
			<div class="input-group-addon bg-light text-dark rounded p-2">
				<%= @player.name =%> vs 
			</div>
			<%= form.collection_select :player_2_id, @player.category.players.where.not(id: @player.id), :id, :name, {},class: "form-control" %>
		</div>
		<%= form.submit class: "btn btn-primary btn-block mt-3" %>
	<% end %>
</div>