<%= link_to 'Back', players_path, class: 'btn btn-secondary mb-3' %>
<div class="row">
	<div class="col-md-3 mb-3">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Editing Player</h4>
				<%= render 'form', player: @player %>
				<%= link_to 'Destroy Player', @player, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-block mt-1" %>
			</div>
		</div>		
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-center m-4">Matches <span class="badge badge-primary"><%= @player.player_1_matches.count + @player.player_2_matches.count %></span></h4>
				<% @matches.order(:round).each do  |player_match| %>
					<% if player_match.persisted? %>
						<%= link_to edit_match_path(player_match), class: "text-decoration-none" do %>
							<h4 class="bg-light p-3 text-center"><%= player_match.player_1.name %> vs <%= player_match.player_2.name %> - Round <%= player_match.round %></h4>
						<% end %>
					<% end %>
				<% end %>

				<div class="container col-md-6 mt-5 col" id="new-match-form">
					<button class="btn btn-primary btn-block" onclick="create_match()"><i class="fas fa-plus"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function create_match() {
	$("#new-match-form").html("<%= j render 'new_match' %>");
}
</script>