<%= link_to 'Back', players_path, class: 'btn btn-secondary mb-3' %>
<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Editing Player</h4>
				<%= render 'form', player: @player %>
			</div>
		</div>		
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-center m-4">Matches</h4>
				<% (@matches).each do  |player_match| %>
					<% if player_match.persisted? %>
						<%= link_to edit_match_path(player_match), class: "text-decoration-none" do %>
							<h4 class="bg-light p-3 text-center"><%= player_match.player_1.name %> vs <%= player_match.player_2.name %> - Round <%= player_match.round %></h4>
						<% end %>
					<% end %>
				<% end %>
				<div class="container col-md-4 mt-5">
					<%= form_with model: @new_match do |form| %> 
						<div class="field">
							<%= form.label :date %>
							<%= form.datetime_select :date, class: "form-controll" %>
						</div>
						<%= form.hidden_field :category_id %>
						<%= form.hidden_field :player_1_id %>
						<%= form.label :round %>
						<%= form.number_field :round, class: "form-controll" %>
						<div class="field">
							<h6>
								<%= @player.name =%> vs 
								<%= form.select(:player_2_id, options_for_select(@opponents), {}, { class: "form-controll"})%>	
							</h6>
						</div>
						<%= form.submit class: "btn btn-primary btn-block mt-3" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>