<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, {}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:min_rank), :id, :title, {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :player_1_id %>
    <%= form.collection_select :player_1_id, Player.order(:name), :id, :name, {include_blank: true}, class: "form-control" %>
  </div>

  <div class="field">
    <label>Player 1 Civ</label>
    <%= form.select :player_1_civilization, options_for_select(aoe_civilizations.sort(), match.player_1_civilization), {}, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :player_2_id %>
    <%= form.collection_select :player_2_id, Player.order(:name), :id, :name, {include_blank: true}, class: "form-control" %>
  </div>

  <div class="field">
    <label>Player 2 Civ</label>
    <%= form.select :player_2_civilization, options_for_select(aoe_civilizations.sort(), match.player_2_civilization), {}, class: "form-control" %>
  </div>
  <% if match.persisted? %>
    <div class="field">
      <%= form.label :winner_id %>(Optional)
      <% if match.player_1.nil? || match.player_2.nil? %>
        <%= form.select :winner_id, [], {}, disabled: true %>
      <% else %>
        <%= form.select :winner_id, options_for_select([[match.player_1.name, match.player_1.id], [match.player_2.name, match.player_2.id]], match.winner_id), {include_blank: true }, class: "form-control" %>
      <% end %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :winner_id %>(Optional)
      <%= form.collection_select :winner_id, Player.order(:rank), :id, :name, {include_blank: true }, class: "form-control" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :round %>
    <%= form.number_field :round, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block mt-2" %>
  </div>
<% end %>
