<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:min_rank), :id, :title, class: "form-controll m-3" %>
  </div>

  <div class="field">
    <%= form.label :player_1_id %>
    <%= form.collection_select :player_1_id, Player.order(:rank), :id, :name, class: "form-controll m-3" %>
  </div>

  <div class="field">
    <%= form.label :player_2_id %>
    <%= form.collection_select :player_2_id, Player.order(:rank), :id, :name, class: "form-controll m-3" %>
  </div>

  <div class="field">
    <%= form.label :winner_id %>(Optional)
    <%= form.collection_select :winner_id, Player.order(:rank), :id, :name, {include_blank: true }, class: "form-controll m-3" %>
  </div>

  <div class="field">
    <%= form.label :round %>
    <%= form.number_field :round, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-block mt-2" %>
  </div>
<% end %>
