<% @matches.order(:round).each do |game_match| %>
  <%= link_to edit_match_path(game_match), class: "text-decoration-none" do %>
    <div class="card mb-2">
      <h6 class="card-header">
        Round <%= game_match.round %> - <%=game_match.category.title %> 
        <p class="float-right text-dark"> 
          <%= game_match.date.strftime("%m/%d/%Y")%> 
        </p> 
      </h6>
      <div class="card-body">
        <span class="card-title text-secondary h5">
          <% if game_match.player_1.present? %>
            <%= game_match.player_1.name %> (<%= game_match.player_1.rank %>)
          <% end %>
          vs
          <% if game_match.player_2.present? %>
            <%= game_match.player_2.name %> (<%= game_match.player_2.rank %>)
          <% end %>
          <%= link_to 'Destroy', game_match, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger float-right ml-1" %>
          <%= link_to 'Edit', edit_match_path(game_match), class: "btn btn-primary float-right mr-1" %>
        </span>
        <p class="text-secondary mb-0">
          <% if game_match.likes.to_i != 0 %>
            <%= game_match.likes %> likes.
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>