<div class="container">
  <h2 class="d-flex justify-content-between mb-4">
    <span>Matches <span class="badge badge-secondary"><%= Match.all.count %></span></span>
    <%= link_to 'New Match', new_match_path, class: 'btn btn-primary'%>
  </h2>
  <a href="#collapseExample" class="btn btn-secondary m-2 mb-3" data-toggle="collapse">
    <i class="fas fa-filter"></i> Filters
  </a>
  <div class="collapse mb-1 mt-1" id="collapseExample">
    <div class="p-2">
      <%= form_tag(search_matches_path, method: "get", remote: true) do %>
        <div class="row">
          <div class="input-group">
            <div class="col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Category</span>
                  <%= select_tag :category_filter, options_for_select(Category.order(:title).reverse_order.map { |cat| [cat.title, cat.id] }), include_blank: true, class: "custom-select", onchange:'clickSubmitMatches();'%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Rounds</span>
                <%= collection_check_boxes(:match, :rounds_filter, Match.order(:round).select(:round).distinct, :round, :round, {}, {class: "custom-control custom-checkbox", onchange:'clickSubmitMatches();'}) do |round| %>
                  <span class="d-none">
                    <%= round.check_box %>
                  </span>
                  <%= round.label(class: "round-checkbox-label", onclick: "activateCheckbox(this)") %>
                <% end %>
              </div>
            </div>
            <%= submit_tag "Search", class: "d-none", id: "search_submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="matches-container">
    <%= render 'matches' %>
  </div>
</div>
<script> 
function clickSubmitMatches() {
  $(search_submit).trigger("click");
}
function activateCheckbox(label) {
  if ($(label).hasClass("active-round-checkbox-label")) {
    $(label).removeClass("active-round-checkbox-label");
  }else{
    $(label).addClass("active-round-checkbox-label");
  }
}
</script>